.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 26vh;
    /* background: green; */
    background-image: url(../../assets/pattern-bg.png);
    background-size: cover;
}

.header-container > h1 {
    margin-bottom: 1rem;
    color: #f0eeee;
}

.form-container {
    display: flex;
    width: 500px;
    /* background: red; */
    height: 45px;
    box-shadow: 4px 4px 12px #333333;
    border-radius: 8px;
}

.form-container > input {
    flex: 1;
    border-radius: 8px 0 0 8px;
    border: none;
    outline: none;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 20px;
}

.form-container > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #353535;
    color: #fff;
    cursor: pointer;
    width: 50px;
    border-radius: 0 8px 8px 0;
    outline: none;
    border: none;
    transition: background 0.5s;
}

.form-container > button > img {
    height: 1.1rem;
}

.form-container > button:hover {
    background: #252525;
}

@media(max-width: 768px) {
    .form-container {
        width: 90%;
    }
}
